h1 {
	font-family: Courier New;
	/*color: rgb(238,130, 238);*/
	color: #FFFAFA;
	background-color: #778899;
}
h1 span { color: #FFB6C1;} 
p {
	font-family: Courier New;
	color: black;
}
p span {
	color: #FA8072;
	background-color: yellow;
} 
h2 {
	font-family: Courier New; 
	color: red;
	background-color: #F0E68C;
}
ol {
	font-family: Courier New;
	color: black;
}
strong {
	color: red;
}
ul { 
	font-family: Palatino Linotype;
	color: black;
 }
body {
 	background-color: #D8BFD8; 	
}


